workspace
repo.openeuler.org
BUILD
BUILDROOT
RPMS
SRPMS
back
*.squashfs
python3env
#ctyunostools-0.1.tar.gz



#python ignore
__pycache__/
*.py[cod]
*$py.class
*.tar.gz
.idea
.idea/*
venv/
*.xml
*.cvrf
*.bat
*.json
*.sqlite
