# 默认加固项目
[main]
pid_file_path = /var/log/security-baseline/security-baseline.pid
lock_file_path = /var/log/ecurity-baseline/security-baseline.lock
fixed_items=[1,2,3,5,6,10]


# 推送工具相关api配置
[all_fixed_watcher]
# 过滤包，只关注 指定包名 的CVE信息，ALL特殊值，代表关注所有包
watch_fixed = ALL


description = 用于监测所有系统安全加固项

# 更新播报控制开关，只在有数据更新的时候才进行播报
update_notify_enabled = 1
# 状态播报控制开关，随cve-ease服务周期播报，可用于追踪服务状态
status_notify_enabled = 1

# 企业微信聊天机器人Token，申请/使用说明参考: https://developer.work.weixin.qq.com/document/path/91770
# 逗号分割token，第一个用于更新播报，第二个用于状态播报，置空则不进行播报
wecom_notifier = a30ddcea-b52a-4b2a-9103-659454c8ccbf,a30ddcea-b52a-4b2a-9103-659454c8ccbf